.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.navbar-items {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  color: #49557e;
  font-size: 19px;
}

.navbar-right {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 9px 14px;
  background-color: #e8421d;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.navbar button:hover {
  background-color: #c95e46;
}

.active {
  text-decoration: underline;
}

.navbar li {
  cursor: pointer;
}

.navbar-search {
  position: relative;
}
.navbar-search .dot {
  position: absolute;
  min-height: 10px;
  min-width: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: tomato;
  top: -8px;
  left: 30px;
}
@media (max-width: 1050px) {
  .navbar .logo {
    width: 150px;
  }
  .navbar-items {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right .img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}
@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-items {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right .img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}
@media (max-width: 750px) {

  .navbar-items {
    display: none;
  }
 
}
